<%= form_with(model: post, class: "form") do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :image, "Imagen", class: "form-label fs-5 fw-bold " %>
    <%= form.text_field :image, class: "form-control " %>
  </div>

  <div class="mb-3">
    <%= form.label :title, "Titulo", class: "form-label fs-5 fw-bold" %>
    <%= form.text_field :title, class: "form-control " %>
  </div>

  <div class="mb-3">
    <%= form.label :content, "Contenido", class: "form-label fs-5 fw-bold" %>
    <%= form.text_area :content, class: "form-control " %>
  </div>


  <%= form.label current_user.email, "Usuario", class: "form-label fs-5 fw-bold " %>
  <div class="input-group">
     <%= form.text_field current_user.email, class: "form-control " %>
  </div>
  <p></p>
        <%= form.submit "Crear Noticia", class: " btn btn-primary  bg-primary " %>

<% end %>
