
<div class="d-flex justify-content-between m-3" >
<h2 class="text-warning m-0" >Noticias</h2>
<%= link_to "Nueva Noticia", new_post_path, class:"btn btn-danger ", style:"background-color:#0dcaf0" %>
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <div class="card glow-on-hover bg-transparent border-0 shadow glass" style="min-height:100%">
        <div class="card-header bg-primary bg-opacity-50 bg-gradient text-light">
          <h2 class="card-title text-light"><%= post.title %></h2>
        </div>
        <div class="card-body glass">
         
          <p  ><%= post.content %></p>
        </div>
       <div class="card-scrollable-comments scrollbar-danger p-1 glass" style="max-height: 150px; overflow-y: auto;">
  <% post.comments.each do |comment| %>
    <div class="comment   p-1 m-2 ">
      <p class="comment-content text-dark"><%= comment.content %></p>
      <p class="comment-info text-secondary" style="font-size:12px;">
        Autor: <%= comment.user.email %>
        el <%= comment.created_at.strftime("%d/%m/%Y a las %H:%M") %>
      </p>
    </div>
  <% end %>
</div>
  <div class="card-comment-form glass">
  <%= form_with(model: [post, Comment.new], url: comments_path, local: true) do |form| %>
    <%= form.hidden_field :post_id, value: post.id %>
    <div class="field px-3 py-2">
      <%= form.text_area :content, rows: 2, style: "resize: none;", class: "form-control p-1    ", placeholder: "Escribe tu comentario" %>
    </div>
    <div class="text-center">
      <%= form.submit "Comentar", class:"btn btn-primary btn-sm rounded-pill shadow mb-2" %>
    </div>
  <% end %>
</div>
  <div class="card-footer  d-flex justify-content-between "; style="font-size:12px">
    <%= time_ago_in_words(post.created_at, locale: :es) %>
    Autor: <%= post.user.email %>
    <%= link_to "Ver Noticia", post %>
      </div>
      </div>
    </div>
  <% end %>
</div>